<form {{action "save" on="submit"}} class="col-8 px2 mx-auto borrowers-form">
  {{#if errorMessage}}
    <h2 class="white bg-red p1">{{errorMessage}}</h2>
  {{/if}}
  {{input value=model.firstName placeholder="First Name" class="input fit"}}<br>
  {{input value=model.lastName  placeholder="Last Name"  class="input fit"}}<br>
  {{input value=model.email     placeholder="Email"      class="input fit"}}<br>
  {{input value=model.twitter   placeholder="Twitter"    class="input fit"}}<br>

  <input type="submit" value="Save" class="btn h3 border       pg-gray p2 mr2 col-3" />
  <button {{action "cancel"}}       class="btn h3 border white bg-gray p2 mr2 col-3">Cancel</button>
</form>